{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
<div id="story-wrapper">
    <h2>{{ story.title }}</h2>
    <a href="{% url 'news:usersStories' story.author.username %}"><h4>{{ story.author }}</h4></a>
    <div id="story-content">
        <img src="{{ story.image }}">
        {{ story.content|linebreaks }}
        {% if user.is_authenticated and request.user == story.author %}
            <form action="{% url 'news:deleteStory' story.pk %}"  method="POST">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}